<h2>About</h2>

<p>Hello! This is our about page!</p>

<p>Since this is a CTF challenge, we'll make it quick by just giving you a hint: The Slack and Website links on the index page have nothing whatsoever to do with this. Nothing at all. Seriously.</p>

<p>{{#link-to 'index'}}Back to index{{/link-to}}</p>

{{outlet}}