<h2>Welcome, {{link-to currentUser.user.name 'profile'}}!</h2>

<p>Your goal is to get the "comment" field from the "admin" profile. Good luck!</p>

<p>As always: bruteforcing isn't allowed, required, or helpful. :)</p>

{{outlet}}
