<h2>Welcome to findme!</h2>

<p>For this challenge, you simply need to find a hidden page sommmmewhere in
  this application! Have fun!</p>

<ul>
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li><a href='https://bsidessf.org/'>BSidesSF</a>!!</li>
  <li><a href='https://bsidessf-slack.herokuapp.com/'>Invitation</a> to our <a href='https://bsidessf.slack.com/messages/C2DSB8VDL/details/'>Slack channel</a></li>
  <li>{{#link-to 'notthesecret'}}Not the secret page{{/link-to}}</li>
  {{!--<li>{{#link-to 'about.app'}}Secret page{{/link-to}}</li>--}}
</ul>

{{outlet}}